@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Catamaran:400,800");
.error-container {
    text-align: center;
    font-size: 180px;
    font-family: "Catamaran", sans-serif;
    font-weight: 800;
    margin: 20px 15px;
}
.error-container > span {
    display: inline-block;
    line-height: 0.7;
    position: relative;
    color: #ffb485;
}
.error-container > span {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.error-container > span:nth-of-type(1) {
    color: #d1f2a5;
    animation: colordancing 4s infinite;
}
.error-container > span:nth-of-type(3) {
    color: #333e70;
    animation: colordancing2 4s infinite;
}
.error-container > span:nth-of-type(2) {
    width: 120px;
    height: 120px;
    border-radius: 999px;
}
.error-container > span:nth-of-type(2):before,
.error-container > span:nth-of-type(2):after {
    border-radius: 0%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 999px;
    box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4), inset 0 30px 0 rgba(239, 250, 180, 0.4),
        inset -30px 0 0 rgba(255, 196, 140, 0.4), inset 0 -30px 0 rgba(245, 105, 145, 0.4);
    animation: shadowsdancing 4s infinite;
}
.error-container > span:nth-of-type(2):before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.screen-reader-text {
    position: absolute;
    top: -9999em;
    left: -9999em;
}
@keyframes shadowsdancing {
    0% {
        box-shadow: inset 30px 0 0 rgba(156, 156, 160, 0.769), inset 0 30px 0 rgba(180, 193, 250, 0.4),
            inset -30px 0 0 rgba(0, 0, 0, 0.4), inset 0 -30px 0 rgba(105, 156, 245, 0.4);
    }
    25% {
        box-shadow: inset 30px 0 0 rgba(39, 35, 94, 0.534), inset 0 30px 0 rgba(198, 165, 242, 0.711),
            inset -30px 0 0 rgba(8, 90, 231, 0.4), inset 0 -30px 0 rgba(103, 111, 164, 0.4);

    }
    50% {
        box-shadow: inset 30px 0 0 rgba(69, 3, 237, 0.621), inset 0 30px 0 rgba(105, 140, 245, 0.4),
            inset -30px 0 0 rgba(8, 90, 231, 0.4), inset 0 -30px 0 rgba(103, 111, 164, 0.4);
    }
    75% {
        box-shadow: inset 30px 0 0 rgba(50, 56, 171, 0.4), inset 0 30px 0 rgba(140, 146, 255, 0.4),
            inset -30px 0 0 rgba(105, 159, 245, 0.4), inset 0 -30px 0 rgba(165, 184, 242, 0.4);
    }
    100% {
        box-shadow: inset 30px 0 0 rgba(77, 77, 77, 0.4), inset 0 30px 0 rgba(206, 180, 250, 0.4),
            inset -30px 0 0 rgba(24, 28, 126, 0.744), inset 0 -30px 0 rgba(119, 105, 245, 0.4);
    }
}
@keyframes colordancing {
    0% {
        color: #333e70;
    }
    50% {
        color: #1e81b0;
    }
    75% {
        color: #285da1;
    }
    100% {
        color: #333e70;
    }
}
@keyframes colordancing2 {
    0% {
        color: #1e81b0;
    }
    25% {
        color: #285da1;
    }
    50% {
        color: #333e70;
    }
    100% {
        color: #1e81b0;
    }
}

.zoom-area {
    max-width: 490px;
    margin: 30px auto 30px;
    font-size: 19px;
    text-align: center;
}
.link-container {
    text-align: center;
}
a.more-link {
    text-transform: uppercase;
    font-size: 13px;
    background-color: #92a4ad;
    padding: 10px 15px;
    border-radius: 0;
    color: #416475;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    line-height: 1.5;
    text-decoration: none;
    margin-top: 50px;
    letter-spacing: 1px;
}
@media (max-width: 400px) {
    .error-container {
        font-size: 120px;
    }
    .error-container > span:nth-of-type(2) {
        width: 70px;
        height: 70px;
        border-radius: 999px;
    }
}
